:root {
    --background: #E6F6FF;
    --dominant-color: #00A6FB;
    --primary-color: #006494;
    --secondary-color: #577FAB;
    --success-color: #20AC6B;
    --danger-color: #AE1E2C;
    --warning-color: #CC9900;
    --info-color: #0AA3C2;
    --background-text: #000000;
    --dominant-text: #FFFFFF;
    --primary-text: #FFFFFF;
    --secondary-text: #FFFFFF;
    --success-text: #FFFFFF;
    --danger-text: #FFFFFF;
    --warning-text: #000000;
    --info-text: #FFFFFF;
}